body {
    font-family: 'Arial', sans-serif;
}

button {
    border: 0;
    border-radius: 2em;
    font-size: smaller;
}

button.btn-small {
    padding: 0.7em;
}

button.btn-big {
    padding: 1em;
}

button.btn-white {
    background-color: white;
    color: black;
}

button.btn-black {
    background-color: black;
    color: white;
}

button.btn-purple {
    background-color: #7289da;
    color: white;
}

body .container-centered {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* header */
header {
    color: white;
}
/* nav */
nav {
    padding: 1em 0;
    background-color: #265ee8;
    font-size: smaller;
}

#nav-inner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#logo-header {
    
}

#links-header ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    
    padding-inline-start: 0;
    list-style: none;
}

#login-header {
}
/* /nav */

/* hero-container */
#hero-container-wrapper {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

#hero-container {
    min-height: 400px;
    padding: 40px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

#hero-container-inner {
    max-width: 600px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#hero-container-inner .buttons-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 20px;
}
/* /hero-container */
/* /header */

/* main */
main section {
    padding: 50px 0;
}

main section:nth-child(1) , main section:nth-child(3) {
    background-image: url(../img/wave.svg);
    background-size: 100% 10%;
    background-position: bottom;
    background-repeat: no-repeat;
}

main section:nth-child(2) {
    background-image: url(../img/wave-white.svg);
    background-size: 100% 10%;
    background-position: bottom;
    background-repeat: no-repeat;
}

main section .section-inner {
    min-height: 300px;
    padding: 30px;

    display: flex;
    justify-content: space-between;
    gap: 50px;
}

main section .section-inner .section-text h2 {
    margin-bottom: 20px;
    font-size: 35px;
}

main section:nth-of-type(even) {
    background-color: #f6f6f6;
}

main section:nth-of-type(even) .section-inner {
    flex-direction: row-reverse;
}

main section .section-picture {
    max-width: 70%;
    background-size: contain;
    background-repeat: no-repeat;
}

main section .section-picture img {
    width: 100%;
}

main section .section-text {
    max-width: 30%;
}

main section:last-of-type .section-text {
    max-width: 90%;
    text-align: center;
}

main section:last-of-type .section-inner {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

main section:last-of-type .section-inner .section-picture {
    max-width: 100%;
    margin-bottom: 40px;
}

main section:last-of-type .section-inner > h2 {
    margin-bottom: 30px;
    padding: 15px 20px 0;
    background-image: url(../img/stars.svg);
    background-size: contain;
}
/* /main */

/* footer */
/* footer-top */
footer {
    padding: 4em;
    background-color: #23272A;
    color: white;
    font-size: smaller;
}

footer strong {
    color: #7289da;
}

#footer-top {
    margin-bottom: 2em;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

/* footer-top-left */
#footer-top-left {
    max-width: 20%;
    
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}

#footer-top-left strong {
    font-size: 20px;
}

#footer-top-left #lang {
    font-size: smaller;
}

#footer-top-left #lang img {
    height: 1em;
}

#footer-top-left #icons {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
}
/* /footer-top-left */

/* footer-top-right */
#footer-top-right {
    flex-grow: 1;

    display: flex;
}

#footer-top-right .link-list {
    flex-grow: 1;

    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}

#footer-top-right .link-list ul {
    list-style: none;
    padding-inline-start: 0;

    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}

footer hr {
    margin-bottom: 2em;
    border: 1px solid #7289da;
}

/* footer-bottom */
#footer-bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#logo-footer-bottom {
}

#singin-footer-bottom {
}
/* /footer-bottom */
/* /footer */